.container-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #dc3d4b;
  .auth-screen {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2rem;
    display: flex;

    button {
      padding: 15px;
      font-family: "PT Sans", sans-serif;
      border-radius: 10px;
      background-color: #dc3d4b;
      border: none;
      color: white;
      font-size: 1rem;
      box-shadow: 32px -3px 86px -18px rgb(0, 0, 0);

      &:hover {
        background-color: #dc3d4b;
        color: white;
        box-shadow: none;
        cursor: pointer;
        box-shadow: 32px -3px 86px -18px rgba(0, 0, 0, 1);
      }
    }

    .side-1 {
      width: 50%;
      align-self: center;
      margin: 20px;

      text-align: center;
      margin-left: 20px;
    }

    .side-2 {
      .auth-form {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        // margin-right: 1rem;
        // background-color: beige;
      }

      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        font-family: "PT Sans", sans-serif;
        text-transform: uppercase;
        color: black;
        text-transform: capitalize;
        text-align: center;
        padding-bottom: 10%;
      }

      label {
        padding-bottom: 20px;
      }

      background-color: white;
      align-self: center;
      width: 100%;
      height: 100%;
      padding: 60px;
      color: black;

      .form-group {
        display: flex;
        flex-direction: column;
        width: 140%;
      }
    }

    input {
      width: 100%;
      height: 3rem;
      border: none;
      border-bottom: 1px solid black;
      margin-bottom: 1rem;
      padding: 0.5rem;
      font-size: 1.5rem;
      border-radius: 10px;
      &:focus {
        outline: none;
      }
    }
  }
}
