<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js" nonce="r@nd0m"></script>
    <link rel="stylesheet" href="/styles/chat.css">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self';" />
    <title>Chat App</title>
</head>

<body>
    <div class="container">
        <div class="msg">

            <div class="ess">
                <input type="text" required>
                <button>
                    Send
                </button>
            </div>
        </div>
        <div class="chat-list">

        </div>
    </div>
    <button class="leave">Leave Chat</button>
    <h1>Peopls online</h1>
    </div>
    <script defer type="module" src="/client/client.js" nonce="r@nd0m"></script>
</body>

</html>