<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Welcome to chat</title>
</head>

<body>
    <div class="home-container">
        <h1>Chat App made by Rasla</h1>
        <h3>for my BABY😘</h3>
        <form action="/chat/create" method="POST">
            <input type="text" required name="name" placeholder="Your Name"> <br> <br> <br>
            <input type="text" required name="roomname" placeholder="Room Name"> <br> <br> <br>
            <button type="submit">Join</button>
        </form>
    </div>
</body>

</html>