@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

body {
    font-family: 'Josefin Sans',
    sans-serif;
    background: #134E5E;
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);
    background: linear-gradient(to right, #71B280, #134E5E);
    color: white;
}

.home-container {
    width: 80%;
    padding-top:30vh;
    margin: auto;
    text-align: center;
}

.home-container button {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #71B280;
    border-radius: 20px;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .7s;
    border: none;
    box-shadow: black 2px 3px 10px;
}

.home-container form input{
    padding: 10px;
    height: 20px;
    width: 300px;
    font-family: "Josefin Sans";
    border-radius: 20px;
    font-size: 17px;
}

.home-container button:hover {
    transform: scale(1.229);
    animation: styee .4s;
    cursor: pointer;
}

@keyframes styee {
    25% {
    border-top-left-radius: 3px;
    }
    75% {
    border-bottom-right-radius: 3px;
    }
}